<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Code_challenge.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

In [55]:
import numpy as np  # For numerical operations
import pandas as pd  # For data manipulation and analysis
import matplotlib.pyplot as plt  # For plotting
import seaborn as sns # For plotting

# Displays output inline
%matplotlib inline

# Libraries for Handing Errors
import warnings
warnings.filterwarnings('ignore')

In [56]:
# Load the datasets
vegetables_df = pd.read_csv('vegetables_prices.csv', index_col=False)

vegetables_df.head()

,Price Dates,Bhindi (Ladies finger),Tomato,Onion,Potato,Brinjal,Garlic,Peas,Methi,Green Chilli,Elephant Yam (Suran)
0,01-01-2023,35.0,18,22.0,20,30,50,25,8,45.0,25
1,02-01-2023,35.0,16,22.0,20,30,55,25,7,40.0,25
2,03-01-2023,35.0,16,21.0,20,30,55,25,7,40.0,25
3,04-01-2023,30.0,16,21.0,22,25,55,25,7,40.0,25
4,08-01-2023,35.0,16,20.0,21,25,55,22,6,35.0,25

In [57]:
vegetables_df_copy = vegetables_df.copy()

In [58]:
vegetables_df_copy.info

<bound method DataFrame.info of     Price Dates  Bhindi (Ladies finger)  Tomato  Onion  Potato  Brinjal  \
0    01-01-2023                    35.0      18   22.0      20       30
1    02-01-2023                    35.0      16   22.0      20       30
2    03-01-2023                    35.0      16   21.0      20       30
3    04-01-2023                    30.0      16   21.0      22       25
4    08-01-2023                    35.0      16   20.0      21       25
..          ...                     ...     ...    ...     ...      ...
282  27-12-2023                    45.0      16   30.0      20       70
283  28-12-2023                    45.0      16   30.0      20       70
284  29-12-2023                    45.0      16   30.0      22       80
285  31-12-2023                    45.0      16   26.0      20       60
286  01-01-2024                    45.0      16    9.0      18       50

     Garlic  Peas  Methi  Green Chilli  Elephant Yam (Suran)
0        50    25      8          45.0                    25
1        55    25      7          40.0                    25
2        55    25      7          40.0                    25
3        55    25      7          40.0                    25
4        55    22      6          35.0                    25
..      ...   ...    ...           ...                   ...
282     260    40     16          40.0                    25
283     260    30     20          45.0                    25
284     260    30     18          50.0                    25
285     250    40     16          50.0                    40
286     260    40     15          60.0                    25

[287 rows x 11 columns]>

In [59]:
vegetables_df_copy.describe()

,Bhindi (Ladies finger),Tomato,Onion,Potato,Brinjal,Garlic,Peas,Methi,Green Chilli,Elephant Yam (Suran)
count,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000
mean,29.444251,16.006969,20.649826,18.585366,31.655052,133.101045,66.658537,20.383275,44.122404,28.797909
std,8.124815,0.118056,11.711204,2.726238,11.725421,60.078331,33.302415,117.428417,12.796590,6.607973
min,17.000000,16.000000,8.000000,12.000000,14.000000,50.000000,22.000000,5.000000,0.130000,12.000000
25%,22.000000,16.000000,12.000000,16.000000,25.000000,85.000000,40.000000,8.000000,35.000000,25.000000
50%,27.500000,16.000000,16.000000,20.000000,30.000000,120.000000,60.000000,12.000000,40.000000,30.000000
75%,33.000000,16.000000,25.000000,20.000000,35.000000,165.000000,80.000000,16.000000,50.000000,30.000000
max,60.000000,18.000000,57.000000,24.000000,80.000000,290.000000,150.000000,2000.000000,90.000000,50.000000

In [60]:
# Checking for missing values
vegetables_df_copy.isnull().sum()

Price Dates               0
Bhindi (Ladies finger)    0
Tomato                    0
Onion                     0
Potato                    0
Brinjal                   0
Garlic                    0
Peas                      0
Methi                     0
Green Chilli              0
Elephant Yam (Suran)      0
dtype: int64

In [66]:
# Check for duplicates
def check_duplicates(vegetables_df_copy):
    """
    This function checks for duplicate rows in the given DataFrame and prints the count of duplicate rows.

    Parameters:
    df (vegetables_df_copy.DataFrame): The DataFrame to check for duplicate rows.

    Returns:
    int: The count of duplicate rows.
    """
    duplicate_count = vegetables_df_copy.duplicated().sum()
    print(f"Number of duplicate rows: {duplicate_count}")
    return duplicate_count

# Check for duplicate rows in the copied training dataset
print("\nDuplicates in copied training dataset:")
train_duplicate_count = check_duplicates(vegetables_df_copy)

Duplicates in copied training dataset:
Number of duplicate rows: 0

In [61]:
# Renaming columns
vegetables_df_copy.columns = [col.strip().replace(' ', '_').replace('_', '_').lower() for col in vegetables_df_copy.columns]

In [62]:
vegetables_df_copy

,price_dates,bhindi_(ladies_finger),tomato,onion,potato,brinjal,garlic,peas,methi,green_chilli,elephant_yam_(suran)
0,01-01-2023,35.0,18,22.0,20,30,50,25,8,45.0,25
1,02-01-2023,35.0,16,22.0,20,30,55,25,7,40.0,25
2,03-01-2023,35.0,16,21.0,20,30,55,25,7,40.0,25
3,04-01-2023,30.0,16,21.0,22,25,55,25,7,40.0,25
4,08-01-2023,35.0,16,20.0,21,25,55,22,6,35.0,25
...,...,...,...,...,...,...,...,...,...,...,...
282,27-12-2023,45.0,16,30.0,20,70,260,40,16,40.0,25
283,28-12-2023,45.0,16,30.0,20,70,260,30,20,45.0,25
284,29-12-2023,45.0,16,30.0,22,80,260,30,18,50.0,25
285,31-12-2023,45.0,16,26.0,20,60,250,40,16,50.0,40
286,01-01-2024,45.0,16,9.0,18,50,260,40,15,60.0,25